/*ALl*/
html{
    font-size: 10px;
}
body{
    background-color: #212529;
    cursor: url(../img/coursor.svg) 3 5, auto;
}
body, ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
.hire_btn{
    text-decoration: none;
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 30px;
}
.arrow{
    width: 7px;
    height: 7px;
    border-top: 3px solid #B3B3B3;
    border-right: 3px solid #B3B3B3;
    transform: rotate(45deg)
}
.content_btn{
    color: #FFB742;
    font-weight: 600;
    font-size: 2rem;
    line-height: 30px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    padding: 6px 25px;
    text-decoration: none;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
/*Head*/
.header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 50px 0 50px;
}
li.header_nav_item > a{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 27px;
    color: white;
    text-decoration: none;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}
.header_nav{
    list-style: none;
    display: flex;
}
li.header_nav_item > a:hover{
    color: #FFB742;
}
.intro{
    padding: 108px 238px 136px 238px;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: white;
    text-transform: capitalize;
}
.intro_item_one{
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 51px;
}
.intro_item_two{
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 91px;
}
.intro_item_three{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 51px;
}
.intro_item_link{
    color: #FFB742;
}
.header:hover > div > a.hire_btn{
    font-size: 5rem;
    transition: all 25s;
}
/*Meter*/
.meter{
    display: flex;
    padding: 0 72px;
    box-sizing: border-box;
    justify-content: center;
}
.meter_item{
    margin: 0 12px;
    border: 1px;
    border-radius: 10px;
    height: 120px;
    width: 416px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background: rgba(56, 62, 69, 0.44);
    color: white;
    transition: all .6s;
}
.meter_item_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.meter_item_content_bar{
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 40px;
    text-transform: capitalize;
    color: #FFB742;
}
.meter_item_content_sbar{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 31px;
    text-transform: capitalize;
    color: white;
}
.meter_item_emblem{
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    padding: 12px;
    background-color: #E9E9E9;
}
.meter_item:hover{
    background-color: #FFB742;
}
.meter_item:hover div{
    color: black;
}
.meter_item:hover > div.arrow{
    border-top: 3px solid black;
    border-right: 3px solid black;
}
/*About me*/
.abme{
    display: flex;
    margin: 137px 49px 65px 49px;
    box-sizing: border-box;
    justify-content: center;
}
.abme_content{
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
}
.abme_content_head{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 30px;
    color: white;
    margin: 30px 0;
}
.abme_content_items{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    color: #D4D4D4;
    margin-bottom: 55px;
    max-width: 700px;
    max-height: 200px;
}
.abme_content:hover > div{
    color: #FFB742;
    transition: all .8s;
}
.abme_content:hover > a.hire_btn{
    font-size: 4rem;
    transition: all 10s;
}
/*My work*/
.mywork{
    display: flex;
    margin: 0 100px 116px 100px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.mywork_head{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 56px;
    color: white;
    padding-bottom: 30px;
}
.mywork_nav{
    display: flex;
    margin-bottom: 50px;
}
.mywork_nav_item > a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 30px;
    color: white;
    text-decoration: none;
    margin: 0 12.5px;
    box-sizing: border-box;
    transition: all .4s;
    border: 0px solid #212529;
    padding: 5px 20px;
    border-radius: 3px;
}
.mywork_nav_item > a:hover{
    background-color: #FFB742;
    color: #212529;
}
.mywork_content{
    display: flex;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.mywork_content_centr{
    margin: 0 30px;
    box-sizing: border-box;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 0 1px;
    font-family: 'Work Sans', sans-serif;
    background-color: #1C1C1C;
    padding-bottom: 100px;
}
.footer_item{
    font-weight: 700;
    font-size: 2.158rem;
    line-height: 32px;
    color: #F5FBF2;
    padding-bottom: 15px;
    padding-top: 148px;
}
.footer_item_one{
    margin-left: 50px;
}
.footer_item_content_head{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 32px;
    color: #FFB742;
    padding-top: 148px;
    padding-bottom: 31px;
}
.footer_item_content{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 32px;
    color: #D4D4D4;
}
.footer_item_two{
    margin-left: 130px;
}
.footer_item_three{
    margin-left: 201px;
}
.footer_item_four{
    margin-left: 157px;
    margin-right: 50px;
}
.footer_item_social_cont > a, .footer_item_social_cont{
    color: #7B7B7B;
    font-weight: 500;
    font-size: 1.798rem;
    line-height: 36px;
    text-decoration: none;
}
.footer_item_link a{
    padding: 10px;
}
li.footer_item_social_cont:active > a{
    color: #FFB742;
}



/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/