/*All*/
body {
    background-color: #E5E5E5;
    font-family: 'PT Sans', sans-serif;
}
h4{
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}
/*Top*/
.menu{
    height: 90px;
    background-color: #202846;
    display: flex;
}
.menu_content_img{
    margin-left: 138px;
    margin-top: 10px;
    margin-right: 300px;
}
.menu_content{
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.menu_content_border{
    border-right: 2px solid white;
    height: 59px;
}
.menu_content_item{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: white;
    box-sizing: border-box;
    margin: 0 35px;
}
.menu_content_img2{
    margin-left: 40px;
}
.menu_content_language{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
}
.bron{
    height: 140px;
    background-color: #C6C6DC;
}
.bron_content{
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    color: #202846;
    margin-left: 227px;
    display: inline-block;
}
/*Main*/
.main{
    margin: 185px 215px 87px 216px;
}
.main_box{
    height: 300px;
    width: 1489px;
    background-color: #BDBDC6;
    margin-bottom: 36px;
    display: flex;
}
.main_box_content_img{
    padding: 28px 0 28px 103px;
}
.main_box_content_head{
    margin: 27px 0 0 100px;
}
.main_box_line{
    width: 712px;
    border: 3px solid white;
}
.main_box_content_text{
    background-color: #D7D7DD;
    border: 0px;
    height: 184px;
    width: 712px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    padding: 21px 24px;
    box-sizing: border-box;
    color: #202846;
}
.main_box_star{
    position: relative;
    left: 10%;
    top: 5%;
    fill: white;
}
.main_box_content_addition{
    position: relative;
    right: 32%;
    top: 58%;
}
.main_box_content_head:hover .main_box_content_text{
    background: pink;
}
.main_box:hover .main_box_star{
    fill: yellow;
}

/*Buttum*/
.buttum{
    width: 101px;
    display: flex;
}
.go_top{
    border: 0px;
    width: 101px;
    height: 101px;
    border-radius: 50%;
    background: rgba(85, 87, 104, 0.62);
    right: 5%;
    bottom: 10%;
    position: fixed;
}
.go_top_buttum{
    margin: 28px 38px;
}
/*Podval*/
.footer{
    background-color: #202846;
    height: 90px;
}
.footer_text{
    color: #EEECF1;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    padding: 21px 0 0 60px;
}